.classpath
.project
.settings/
target/
test-output/
.directory
*.swp
*.orig
*.log
pom.properties/ankaa-handler-domain
*/bin/
.metadata/
.idea/
*.iml
out/
*.DS_Store
*.csv
cgp-cert-ba.pem
.ipynb_checkpoints/
